*{
    margin: 3px;
}
body {
  font-family: "Asul", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Zen Antique Soft", serif;
  font-family: "Zen Old Mincho", serif;
  
}

                   /* Header */
.header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: sticky;
    top: 0px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 0.1);
    
}
.left_header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 18px;
    background-color: transparent;
}

.left_header span a i {
    
    margin-top: 5px;
    font-size: 35px;
    color: blue;
}
.left_header input{
    
    
    background-color: #f2f3f5;
    padding: 13px;
    border-radius: 25px;
    border-style: none;
    border-color: none;

}
.left_header input:focus{
    outline: none;
}

.middle_header{
    display: flex;
    justify-content: space-between;
    
}
.middle_header div i{
     margin-left: 23px;
     margin-top: 18px;
     font-size: 22px;
     color: black;
     padding: 13px;
     border-radius: 9px;
}
.middle_header div i:hover{
    background-color: #f2f3f5;
    padding: 13px;
    border-radius: 9px;
}
img{
    height: 30px;
    width: 30px;
    border-radius: 25px;
}
#imgpic{
    display: flex;
    justify-content: space-between;
}
.right_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 13px;
}
#imgpic:hover{
    background-color:#f2f3f5 ;
    padding: 4px;
    border-radius: 25px;
}      
.right_icon{
    display: flex;
}
.right_icon  i{
    
     margin-top: 7px;
    
     padding: 13px;
     display: flex;
     align-items: center;
     border-radius: 9px;
}
.right_icon a{
    font-size: 22px;
    color: black;
    text-decoration: none;
    display: flex;
    
}
.right_icon i:hover {
background-color: #f0f2f5;
padding: 13px;
 border-radius: 9px;
}
/* CONTAINER */
.container{
    display: flex;
    position: sticky;
    top: 0;
    background-color: #f0f2f5;
    
    
}

/* LEFT_SIDE */

.left_side{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    width: 22%;
    height: 600px;
    position: sticky;
    top: 80px;
    font-size: 19px;
    padding: 2px;
    
    
}
.left_side span{
    padding: 11px;
}
.left_side span:hover{
    background-color: #ffffff;
}
   /* CENTER */
.center{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    width: 59%;
    height: 600px;
}
#imgcenter{
    display: flex;
    justify-content: center;
}
#imgcenter img{
    width: 100px;
    height: 200px;
    border-radius: 18px;
}
#imgcenter img:hover{
    width: 112px;
    height: 210px;
}
#center_div{
    display: flex;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 40px;
    padding-left: 12px;
    padding-top: 8px;
    padding-bottom: 5px;
    border-radius: 5px;
    background-color: #ffffff;
}
#center_div img{
    width: 50px;
    height: 50px;
    border-radius: 20px;
    float: left;
    
}
#center_div input{
    width: 380px;
    border-style: none;
    border-radius: 25px;
    background-color: #f0f2f5;
    
    
}
#center_div input:focus{
    outline: none;
}
#live{
    display: flex;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 0px;
    border-radius: 5px;
    background-color: #ffffff;
    justify-content: space-between;
    justify-content: space-around;
    height: 50px;

}
#live a{
    font-size: 22px;
    color: black;
    text-decoration: none;
    display: flex;
    
}
#live span:hover{
    background-color: #f0f2f5;
    padding: 3px;
}
.post{
    background-color: #ffffff ;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 12px;
    border-radius: 5px;
}
.img_post{
    width: 470px;
    height: 780px;
    border-radius: 5px;
}
/* RIGHT_SIDE */
.right_side{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    width: 19%;
    height: 600px;
    float: right;
    position: sticky;
    top: 80px;
}
.right_side{
    font-size: 28px;
    
}
.right_side span:hover{
    background-color: #ffffff;
}
.right_side a{
    color: rgb(34, 179, 228);
}
#ONE{
    width: 18px;
    height: 18px;
}